* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color:#111111;
}
.flex {
    display: flex;
}
.title {
    background-color: #FF6700;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    column-gap: 30px;
    background-color: #FF6700;
    padding: 10px 20px;
    height: 60px;
    align-items: center;
    justify-content:flex-end;
}
nav>ul>li>a {
    color: #fff;
    cursor: pointer;
    line-height: 60px;
}
nav>ul>li:hover {
    background-color:#a94605); 
}
nav>ul>li {
    height: 60px;
    list-style: none;
    position: relative;
    
}
.childs {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #ffffff;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    min-width: 150px;
    height: 120px;
}
nav>ul>li:hover .childs {
    display: block;
}
nav>ul>li:hover .childs a {
    display: block;
    width: 100%;
    padding: 0 20px;
}
nav>ul>li:hover .childs a:hover {
    color: aqua;
}
.childs a {
    margin-bottom: 10px;
}
