* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}
.flex {
    display: flex;
}
.product-list a {
    text-decoration: none;
    color: black;
}
.text-1 {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
/* .text-2 {
    color: red;
} */
.image_item {
    background-image: url('../img/image.png');
    background-repeat: no-repeat;
    height: 165px;
    width: 1193px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
}
.image_1 {
    background-position: -5px 0px;
    width: 280px; 
}
.image_2 {
    background-position: -309px 0px;
    width: 280px; 
}
.image_3 {
    background-position: -610px 0px;
    width: 280px; 
}
.image_4 {
    background-position: -915px 0px;
    width: 280px; 
}
.product-list .item {
    width: calc((100% - 60px) / 4);
    background-color:white;
    height: 330px;
    
}
.product-list {
    justify-content: space-between;
    margin-top: 30px;
}
.container>div {
    margin-top: 30px;
}
