.section_one {
    background-size:cover;
    background-image: url('https://demos.creative-tim.com/awesome-landing-page/assets/img/template/bg3.jpg');
    background-repeat: no-repeat;
    height: 700px;
    overflow: hidden;
}
.section_three {
    max-width: 100%;
    height: 550px;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}
.section_three img {
    position: absolute;
    left: 850px;
    max-height: 550px;

}
.section_four {
    position: relative;
}
.section_four .carousel-indicators {
    position: absolute;
    bottom: -65px;
    height: 50px;
    left: 235px; 
    justify-content: start;
}
.carousel-indicators li{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    display: block;
    background-color: #0bf !important;
}
.section_five .card {
    max-width: 18rem;
    height: 22rem;
}
.section_six {
    position: relative;
}
.section_six .carousel-indicators {
    position: absolute;
    bottom: -65px;
    height: 50px;
    left: 510px; 
    justify-content: start;
}
.list-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.caption {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    height: 200px;
}
.background {
    width: 100%;
    height: 600px;
    position: relative;
    text-align: center;
    overflow: hidden;
}   
.background-img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.background-img img{
    width: 100%;
    height: auto;
    position: relative;
}
.info {
    position: absolute;
    z-index: 20;
    top: 30%;
    left: 30%;
}
#content_footer {
    justify-content:space-between ;
}

/* Responsive */
@media  screen and (max-width: 769px) {
    .section_three .div_img {
        height: 250px;
    }
    .section_three img {
        left: 0;
    }
    .section_four .carousel-indicators{
        bottom: 175px;
    }
    .carousel-item img {
        width: 100%;
    }
    .section_five .card {
        max-width: 45rem;
        height: 22rem;
    }
    .section_six .carousel-indicators{
        left: 250px;
        bottom: 0px;
    }
    .info {
        left: 15%;
    }
}
@media  screen and (max-width: 426px) {
    .section_four .carousel-indicators{
        bottom: 235px;
        left: 140px !important;
    }
    .section_four button {
        margin-left: 100px;
    }
    .section_five .card {
        max-width: 25rem;
        height: 18rem;
    }
    .info {
        top: 7%;
        left: 15px;
    }
    #content_footer {
        justify-content: center ;
    }
    /* #list_footer {
        flex-direction: column;
    } */
}