* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #D2E4ED;
}

.title {
    height: 70px;
    background-color: #fff;

}

.button {
    display: block;
    background-color: #C8250C;
    border: 0px solid #C8250C;
    color: white;
    text-align: center;
    padding: 5px 10px;
    width: 300px;
    margin-top: 20px;
    text-transform: uppercase;
}

form .input_row {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-content: center;
    margin-top: 10px;
    font-size: 13px;
    color: #737070;
}

.content {
    display: flex;
    width: 1100px;
    min-height: 900px;
    padding-top: 50px;
    margin: 0 50px;
}

.form {
    width: 400px;
    height: 800px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

form {
    width: 300px;
    height: 800px;
    background-color: #fff;
}

.picture {
    width: calc(100% - 400px);
    height: 800px;
}

.picture img {
    width: 100%;
    height: 800px;
}

form label {
    min-width: 200px;
    font-weight: bold;
}